# Виртуальное окружение
venv/
.venv/

# Файл с переменными окружения
.env
.env.*

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VS Code / PyCharm
.vscode/
.idea/

# Логи
*.log

# Системные
.DS_Store
Thumbs.db

codes.py
codes.txt